<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CJTP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>  
<servlet-name>FirstServlet</servlet-name>  
<servlet-class>week12.FirstServlet</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>FirstServlet</servlet-name>  
<url-pattern>/servlet1pages</url-pattern>  
</servlet-mapping>  
  <servlet>  
<servlet-name>SecondServlet</servlet-name>  
<servlet-class>week12.SecondServlet</servlet-class>  
</servlet>  
  <servlet-mapping>  
<servlet-name>SecondServlet</servlet-name>  
<url-pattern>/servlet2pages</url-pattern>  
</servlet-mapping> 
<servlet>
      <servlet-name>FeedbackForm</servlet-name>
      <servlet-class>week12.FeedbackForm</servlet-class>
   </servlet>
<servlet-mapping>
      <servlet-name>FeedbackForm</servlet-name>
      <url-pattern>/feedbackpages</url-pattern>
      </servlet-mapping>
  </web-app>